# Variables de entorno
.env
.env.local

# Entornos virtuales
.venv/
venv/
env/

# Cache y bytecode de Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
.pytest_cache/
.mypy_cache/


# Por si ChromaDB llega a escribir algo en disco localmente
chroma/
.chroma/
*.sqlite3

# Editores / IDEs
.vscode/
.idea/

# Sistema operativo
.DS_Store
Thumbs.db
desktop.ini